<!DOCTYPE html>

<html>

<head>
  <title>PhiRhoCious</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
  <header>
    <h1 class="logo">PhiRhocious</h1>
  </header>
  <section class="mainbody questions">
    <div class="questions">
      <div class="question">
        <div class="title">What's your name?</div>
        <div class- "response"></div>
        <form>
          <input type="text" name="firstname">
        </form>
      </div>
    </div>
    <br>
    <div class="question">
      <div class="title">How old are you?</div>
      <div class- "response"> </div>
      <select>
        <option value="Under 18">Under 18</option>
        <option value="18-25">18-24</option>
        <option value="mercedes">25-34</option>
        <option value="audi">35-44</option>
        <option value="Under 18">45-54</option>
        <option value="Under 18">55 and older</option>
      </select>
    </div>
    <br>
    <div class="question">
      <div class="title">What is your marital status?</div>
      <form action="/" method="post">
        <input type="radio" name="marital" value="Single" checked> Single
        <br>
        <input type="radio" name="marital" value="Married"> Married
        <br>
        <input type="radio" name="marital" value="Divorced" > Divorced
        <br>
      </form>
    </div>
    <br>
    <div class="question">
      <div class="title">What is your employment status?</div>
      <form action="/" method="post" >
        <input type="radio" name="employment" value="Employed" checked> Employed
        <br>
        <input type="radio" name="employment" value="Unemployed"> Unemployed
        <br>
        <input type="submit" value="Submit">
      </form>
    </div>
    </div>
  </section>
</body>

</html>
