<!DOCTYPE html>

<html>

<head>
  <title>PhiRhoCious</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
  <header>
    <h1 class="logo">PhiRhocious</h1>
        <div class="title">Here are some useful posts for you :)</div>
        <br>
  </header>
  <section class="mainbody">
    <div class="posts">
      <div class="post">
        <div class="text">Don't delay filing your tax return. You may have a refund coming. The reason is simple: People who have lost their jobs often move into a lower tax bracket. This means the withholding from your former job was likely too high, possibly resulting in a sizeable refund at tax time.</div>
        <button type="button">Useful?</button>      
      </div>
    </div>
    <br>
    <div class="posts">
      <div class="post">
        <div class="text">Don't delay filing your tax return. You may have a refund coming. The reason is simple: People who have lost their jobs often move into a lower tax bracket. This means the withholding from your former job was likely too high, possibly resulting in a sizeable refund at tax time.</div>
        <button type="button">Useful?</button>      
      </div>
    </div>
    <br>
    <div class="posts">
      <div class="post">
        <div class="text">Don't delay filing your tax return. You may have a refund coming. The reason is simple: People who have lost their jobs often move into a lower tax bracket. This means the withholding from your former job was likely too high, possibly resulting in a sizeable refund at tax time.</div>
        <button type="button">Useful?</button>      
      </div>
    </div>
    <br>
    <div class="posts">
      <div class="post">
        <div class="text">Don't delay filing your tax return. You may have a refund coming. The reason is simple: People who have lost their jobs often move into a lower tax bracket. This means the withholding from your former job was likely too high, possibly resulting in a sizeable refund at tax time.</div>
        <button type="button">Useful?</button>      
      </div>
    </div>
    <br>
    <div class="posts">
      <div class="post">
        <div class="text">Don't delay filing your tax return. You may have a refund coming. The reason is simple: People who have lost their jobs often move into a lower tax bracket. This means the withholding from your former job was likely too high, possibly resulting in a sizeable refund at tax time.</div>
        <button type="button">Useful?</button>      
      </div>
    </div>
    
      
  </section>
</body>

</html>
